body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e24;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #2a2a35;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    transition: 0.2s;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

/* Arqan stili */
.rope-container {
    position: relative;
    width: 90%;
    height: 40px;
    background: #333;
    margin: 30px auto;
    border-radius: 20px;
    border: 3px solid #444;
}

#rope-line {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    height: 6px;
    background: #d2b48c;
}

#rope-marker {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 30px;
    height: 30px;
    background: #ff4757;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: left 0.2s ease;
    box-shadow: 0 0 10px #ff4757;
}

/* Razdelenie na 2 igroka */
.players-zone {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 25px;
    flex-wrap: wrap;
}

.player-card {
    flex: 1;
    min-width: 280px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2a2a35;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.p1-color { border-top: 5px solid #3498db; } /* Siniy dlya P1 */
.p2-color { border-top: 5px solid #e67e22; } /* Oranjeviy dlya P2 */

.question-text {
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0;
    color: #f1c40f;
}

input {
    padding: 12px;
    font-size: 18px;
    width: 80%;
    max-width: 150px;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Kubik stili */
.cube-placeholder {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.cube-face {
    width: 50px;
    height: 50px;
    background: #3b3b4f;
    border: 2px solid #fff;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
.instructions {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}